/* 滚动条样式 */
::-webkit-scrollbar{
  width: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: rgba(0,0,0,0.7);
  -webkit-box-shadow: inset 6px rgba(0,0,0,0.5);
}
/* 滚动条非激活窗口 */
::-webkit-scrollbar-thumb:window-inactive {
background:rgba(225, 77, 2, 0.4);
}